<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Qatskills</title>
</head>
<body>
    <h1>Welcome to Qatskills</h1>
    <p>This is the first blog post introducing Qatskills!</p>
    <h2>Something Interesting</h2>
    <p>Have you heard of the Mike and Ike book? <em>Quantum Computation and Quantum Information</em> by Nielsen & Chuang is the go-to resource for quantum computing.</p>
    <a href="https://www.amazon.com/Quantum-Computation-Information-10th-Anniversary/dp/1107002176">Get the Book</a>
</body>
</html>
